
<%action_url = cat.persisted? ? cat_url(cat) : cats_url%>
<%form_method = cat.persisted? ? "PATCH" : "POST" %>
<%submit = cat.persisted? ? "Edit cat!" : "Create cat!" %>


<h1> Cat form! </h1>
<form action="<%= action_url %>" method="POST">
  <input type="hidden"
         name="_method"
         value="<%=form_method%>">
  <label for="cat_name">First name </label>
  <input name="cat[name]" id="cat_name" type="text" value="<%=@cat.name%>">
  <br>

  <label for="male">Male</label>
  <input name="cat[sex]" id="male" type="radio" value="M" <%="checked" if @cat.sex == 'M' %>>
  <label for="female">Female</label>
  <input name="cat[sex]" id="female" type="radio" value="F" <%="checked" if @cat.sex == 'F' %>>
  <br>

  <label for="cat_color">Color</label>
  <select name="cat[color]">
    <% Cat::COLOR.each do |color| %>
      <option value="<%=color%>" <%="selected" if @cat.color == color%>>
        <%=color.capitalize%>
      </option>
    <%end%>
  </select>
  <br>

  <label for="cat_birth_date">Birth date</label>
  <input name="cat[birth_date]" id="cat_birth_date" type='date' value="<%=@cat.birth_date%>" >
  <br>

  <label for="cat_description">Describe your memories!</label>
  <input name="cat[description]" id="cat_description" type="textarea" value="<%=@cat.description%>">
  <br>

  <input type="submit" value="<%=submit%>">
</form>

<%= link_to "Back", :back %>
